@model InnguzApp.ContextoDatos.Ventas_view

@{
    ViewBag.Title = "Delete";
}

<div class="w-full h-48 bg-indigo-400 flex p-16 items-center justify-between">
    <div>
        <div>
            <a href="@Url.Action("Index")" class="text-white text-2xl">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>

        <h2 class="text-center text-2xl font-semibold pb-2 text-white">Eliminar: @Html.DisplayFor(model => model.Producto)</h2>
    </div>
</div>

<div>
    <div class="flex flex-wrap p-2 md:p-16">
        <div class="lg:w-1/2 px-4">
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.Producto)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.Producto)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.Descripcion)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.Cantidad)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.Monto)
                </div>
                <div class="">
                    $ @Html.DisplayFor(model => model.Monto)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.IVA)
                </div>
                <div class="">
                    $ @Html.DisplayFor(model => model.IVA)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.Total)
                </div>
                <div class="">
                    $ @Html.DisplayFor(model => model.Total)
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 px-4">
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.Usuario)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.Usuario)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    Periodo
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.mes) - @Html.DisplayFor(model => model.año)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.FechaInserta)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.FechaInserta)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.UsuarioInserta)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.UsuarioInserta)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.FechaActualiza)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.FechaActualiza)
                </div>
            </div>
            <div class="p-2">
                <div class="text-base  font-semibold">
                    @Html.DisplayNameFor(model => model.UsuarioActualiza)
                </div>
                <div class="">
                    @Html.DisplayFor(model => model.UsuarioActualiza)
                </div>
            </div>
        </div>
        <div class="px-2">
            <h3 class="text-2xl font-bold py-2 text-black">¿Estás seguro que quieres eliminar este producto?</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
