@model InnguzApp.ContextoDatos.Tipo_Producto

@{
    ViewBag.Title = "Edit";
}

<div class="w-full h-48 bg-indigo-400 flex p-16 items-center justify-between">
    <div>
        <a href="@Url.Action("Index")" class="text-white text-2xl">
            <i class="fas fa-arrow-left"></i>
        </a>

        <h2 class="text-center text-2xl font-semibold pb-6 text-white">Editar: @Html.DisplayFor(model => model.Tipo)</h2>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal p-4 md:p-16 w-4/5 lg:w-2/3 mx-auto">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
